.innerMainPanel0
{
position:absolute;
z-index:-1;
height:100%;
background-repeat:no-repeat;
background-image:url('http://images.webydo.com/14/147536/none?v=793833214');
background-size:;
background-attachment:;
left:0px;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
}
.innerMainRow1
{
z-index:0;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
position:relative;
}
.innerMainContent2
{
z-index:12;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-style:solid;
position:relative;
}
.innerMainRow3
{
z-index:1;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
position:relative;
}
.innerMainContent4
{
z-index:13;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-style:solid;
position:relative;
}
.innerMainRow5
{
z-index:2;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
position:relative;
}
.innerMainContent6
{
z-index:14;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-style:solid;
position:relative;
}
.innerShape7
{
margin-right:auto;margin-left:auto;right:0;bottom:0;left:0px;
top:0px;
width:960px;height:100%;z-index:-1;
border-width:1px;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
background-color:#FFFFFF;
box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 1);
-moz-box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 1);
-webkit-box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 1);
position:absolute;
overflow:hidden;
}
.innerText8
{
left:11px;
top:32px;
width:940px;min-height:84px;height:auto;border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
z-index:100001;
position:absolute;
overflow:hidden;
}
.inner_text_con .inner_text {top: 0;left: 0;}
.innerText8_ContentDiv
{
word-wrap:break-word;
}

.innerText9
{
left:344px;
top:190px;
width:540px;min-height:128px;height:auto;border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
z-index:1000011;
position:absolute;
overflow:hidden;
}
.inner_text_con .inner_text {top: 0;left: 0;}
.innerText9_ContentDiv
{
word-wrap:break-word;
}

.innerImage10
{
left:13px;
top:147px;
width:300px;height:150px;border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#666666;
border-style:solid;
z-index:10000111;
position:absolute;
overflow:hidden;
}
.innerImage10 img
{
}
.innerText11
{
left:344px;
top:144px;
width:540px;min-height:26px;height:auto;border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
z-index:100001111;
position:absolute;
overflow:hidden;
}
.inner_text_con .inner_text {top: 0;left: 0;}
.innerText11_ContentDiv
{
word-wrap:break-word;
}

.innerGroup12
{
left:12px;
top:341px;
width:922px;height:159px;z-index:1000011111111;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
position:absolute;
}
.innerText13
{
left:330px;
top:2px;
width:540px;min-height:26px;height:auto;border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
z-index:1000011111;
position:absolute;
overflow:hidden;
}
.inner_text_con .inner_text {top: 0;left: 0;}
.innerText13_ContentDiv
{
word-wrap:break-word;
}

.innerText14
{
left:330px;
top:46px;
width:540px;min-height:113px;height:auto;border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#000;
border-style:solid;
z-index:10000111111;
position:absolute;
overflow:hidden;
}
.inner_text_con .inner_text {top: 0;left: 0;}
.innerText14_ContentDiv
{
word-wrap:break-word;
}

.innerImage15
{
left:1px;
top:6px;
width:300px;height:150px;border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:0px;
border-color:#666666;
border-style:solid;
z-index:100001111111;
position:absolute;
overflow:hidden;
}
.innerImage15 img
{
}
